<p>about works!</p>

<ul [ngSwitch]="loginName">
    <li *ngSwitchCase="'user'">
        <app-about></app-about>
    </li>
    <li *ngSwitchCase="'admin'">
       <h2> <-----------Đây là trang Admin-----></h2>
    </li>
</ul>

{{name}}

<input type="text" value="{{name}}">  value="{{name}} <br />
cach 2
<br />
<input [value]="name" title="day la name">
<br />
Cach 3
<input [title] = "'day la ' + name">

<h2>TWO WAY BINDING DATA</h2> <br />
<input type="text" [(ngModel)]="name"/>
<br />
<div>
<button title="Reset tên" (click)="resetName()">Click vào đây để reset tên</button>
</div>
<br />
<h2>Tên của ban là {{name}}</h2>

<br />

<button type="button"> fdsfs</button>
<div>


    <h2>Counter = {{counter}}</h2>
    <br />
    <h2>Counter ^2 = {{counterBinhPhuong}}</h2>
</div>