<p>login works!</p>
<br />
<!-- <form (ngSubmit)="submitForm()"> -->
<form>
    Nhập Tên 
    <input type="text" [(ngModel)]="name" [ngModelOptions]= "{standalone: true}"/>
    <br />
    <button (click)="submitForm()">Submit</button>
    <!-- cách 2 <br />
    <button>Submit2</button> -->
</form>

<br />
<h1>Welcome to angular 12</h1>
<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/api" routerLinkActive="active">API</a></li>
         <li><a routerLink="/post" routerLinkActive="active">post</a></li>
        
    </ul>
</nav>

<router-outlet></router-outlet>
