<!-- <h1>Welcome to angular 12</h1>
<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
         <li><a routerLink="/template-driven-form" routerLinkActive="active">TemplateDrivenForm</a></li>
    </ul>
</nav>

<router-outlet></router-outlet> -->

<ul [ngSwitch]="loginName">
    <li *ngSwitchCase="'user'">
        <app-about></app-about>
    </li>
    <li *ngSwitchCase="'admin'">
       <app-login></app-login>
    </li>
</ul>
<a routerLink="/reactive-form" routerLinkActive="active">ReactiveForm</a>