.test {
    border: 1px solid;
    padding: 10px;
    box-shadow: 55px 20px red;
    width: 400px;
}

.test2 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 55px 20px red;
    width: 400px;
}
.table1, td, th {
  font-family: arial, sans-serif;
  border-collapse: collapse;
//   width : 140px;
  text-align: left;
  border: 1px solid #dddddd;
}
#td, th {
    min-width: 100px;
}
.nenden {
    background-color: #dddddd;
}
.lonhon50 { color:red;

}
.right { 
    text-align: right;
}


